<html>
<body>
<p>
Guten Tag,
</p>
<p>
Sie erhalten diese E-Mail, da für die Adresse {{ customer.email }} eine Anmeldung zur Sonderaktion
"Goodbye Kaufhof" durchgeführt wurde.
</p>
<p>
Um diese Anmeldung abzuschließen und Ihre persönlichen Gutscheine zu erhalten, klicken Sie bitte
auf den folgenden Link:
</p>
<p>
{{ rooturi }}{{ path('confirm', {'customerId': customer.id, 'activationCode': customer.activationCode}) }}
</p>
<p>
Mit freundlichen Grüßen,
</p>
<p>
--&nbsp;<br>
GALERIA Kaufhof GmbH<br>
Leonhard-Tietz-Str. 1<br>
50676 Köln<br>
<br>
www.galeria-kaufhof.de<br>
Telefon: 0800-664870103<br>
Telefax: 01805-285028*<br>
Empfänger: GALERIA Kaufhof GmbH<br>
* (0,14 €/Min. aus dem dt. Festnetz, max. 0,42 €/Min. aus Mobilfunknetzen)<br>
<br>
Vorsitzender des Aufsichtsrats:<br>
Lovro Mandac<br>
Geschäftsführung:<br>
Olivier Van den Bossche (Vorsitzender)<br>
Edo Beukema<br>
Rolf Boje<br>
Thomas Fett<br>
Klaus Hellmich<br>
Volker Schlinge<br>
<br>
Sitz der Gesellschaft: Köln<br>
Eingetragen:<br>
Amtsgericht Köln<br>
HRB Nr. 64081<br>
UST-ID DE811142395<br>
WEEE-Reg.-Nr. DE80848693<br>
<br>
Member of METRO GROUP<br>
</p>
</body>
</html>
