<html>
<body>
<p>
Guten Tag,
</p>
<p>
Aktivierungslink: {{ rooturi }}{{ path('confirm', {'customerId': customer.id, 'activationCode': customer.activationCode}) }}
</p>
<p>
Mit freundlichen Grüßen,
</p>
<p>
--&nbsp;<br>
&nbsp;&nbsp;Galeria Kaufhof
</p>
</body>
</html>
