<html>
<body>
<p>
Guten Tag,
</p>
<p>
Aktivierungslink: https://www.galeria-kaufhof.de/goodby-metro/customer/{{ customer.id }}/confirmation/{{ customer.activationCode }}
</p>
<p>
Mit freundlichen Grüßen,
</p>
<p>
--&nbsp;<br>
&nbsp;&nbsp;Galeria Kaufhof
</p>
</body>
</html>
