<html>
<body>
<p>
Guten Tag,
</p>
<p>
Aktivierungslink: http://80.69.46.22:8080/customer/{{ customer.id }}/confirmation/{{ customer.activationCode }}
</p>
<p>
Mit freundlichen Grüßen,
</p>
<p>
--&nbsp;<br>
&nbsp;&nbsp;Galeria Kaufhof
</p>
</body>
</html>
