<html>
<body>
<p>
Guten Tag,
</p>
<p>
im Anhang finden Sie ein PDF mit Ihren persönlichen Rabattcodes.
</p>
<p>
Mit freundlichen Grüßen,
</p>
<p>
--&nbsp;<br>
&nbsp;&nbsp;Galeria Kaufhof
</p>
</body>
</html>
