{% extends '::base.html.twig' %}

{% block body %}

<section class="container">
    <div class="row">
        <div class="col-xs-12">
            <h3>
                Willkommen zur Registrierung für die "Goodbye Kaufhof" Sonderaktion
            </h3>
            <p>
                Mit * markierte Felder sind Pflichtangaben.
            </p>

            {{ form_start(form) }}
            {{ form_errors(form) }}
            {{ form_widget(form) }}
            {{ form_end(form) }}

            <p class="mailinfo">
                Die Einwilligung zu Marketingzwecken und Werbung kann jederzeit über die E-Mailadresse
                <a href="mailto:service@galeria-kaufhof.de">service@galeria-kaufhof.de</a> widerrufen werden.
            </p>
        </div>
    </div>
</section>

{% endblock %}
