{% extends '::base.html.twig' %}

{% block body %}

<section class="container">
    <div class="row">
        <div class="col-xs-12">
            <h3>
                Willkommen zur Registrierung für die "Good Bye Metro" Sonderaktion
            </h3>
            <p>
                Mit * markierte Felder sind Pflichtangaben.
            </p>

            {{ form_start(form) }}
            {{ form_errors(form) }}
            {{ form_widget(form) }}
            {{ form_end(form) }}
        </div>
    </div>
</section>

{% endblock %}
