{% extends '::base.html.twig' %}

{% block body %}

<section class="container">
    <div class="row">
        <div class="col-xs-12 col-md-6">
            Hello World
        </div>
    </div>
</section>

{% endblock %}
