{% extends '::base.html.twig' %}

{% block body %}

<section class="container">
    <div class="row">
        <div class="col-xs-12">
            <h3>
                Informationen zum Newsletter
            </h3>

            <p>
                Die Einwilligung können Sie jederzeit mit Wirkung für die Zukunft widerrufen. Da die Einwilligungserklärung zugunsten mehrerer Gesellschaften abgegeben wird, können Sie die Einwilligungserklärung einerseits bezogen auf die einzelne Gesellschaft widerrufen, indem sie unmittelbar die jeweilige Gesellschaft kontaktieren bzw. den in der Werbe-E-Mail angegebenen Abmeldelink klicken. Ein derartiger Widerruf wirkt auch nur gegenüber der jeweiligen Gesellschaft.
            </p>
            <p>
                Sie können aber auch in einer einzigen Erklärung Ihre Einwilligungserklärung gegenüber allen Gesellschaften gleichzeitig widerrufen, wenn Sie uns an die E-Mail-Adresse <a href="mailto:service@galeria-kaufhof.de">service@galeria-kaufhof.de</a> eine entsprechende Erklärung schicken. Wir werden Ihren Widerruf dann unverzüglich an die betreffenden Gesellschaften weiterleiten.
            </p>

{% endblock %}
