{% extends '::base.html.twig' %}

{% block body %}

    {% if showCustomerdata is defined and showCustomerdata %}
        <div id="customerId">{{ customer.id }}</div>
        <div id="activationCode">{{ customer.activationCode }}</div>
    {% endif %}

{% endblock %}
