body {
    padding-top: 68px;
    background-color: #fff;
    color: #006E3C;
    white-space: normal;
    font-weight: 300;
}

a:focus {
    outline: none;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
    margin-top: 0;
}

h1, .h1,
h2, .h2,
h3, .h3 {
    margin-bottom: 20px;
}

h1, h2,
.h1, .h2,
b, strong,
label {
    font-weight: 700;
}

h3, h4, h5, h6,
.h3, .h4, .h5, .h6 {
    font-weight: 400;
}

/* Custom page header */
header nav {
    margin-bottom: 0;
    background-color: #fff;
}

header .wrapper {
    border-bottom: 1px solid #8FC840;
}

header a {
    color: #fff;
}

header a.brand:hover,
header a.brand:focus {
    color: #fff;
}

.navbar {
    margin: 0;
    padding-top: 6px;
}

.navbar-toggle {
    margin-top: 12px;
}

header + main {
    margin-top: 0;
}

main {
}

section {
    padding: 40px 0;
}

section:empty {
    display: none;
}

label {
    display: block;
    margin-top: 24px;
    margin-bottom: 0;
    width: 280px;
}

label.display-inline {
    display: inline-block;
}

label.non-bold {
    font-weight: 300;
}

#registration {
    width: 280px;
}

#registration ul {
    padding-left: 0;
}

#registration ul li {
    color: #a94442;
    list-style: none;
    border-radius: 4px;
    margin-bottom: 20px;
    padding: 15px;
    background-color: #f2dede;
    border: 1px solid #ebccd1;
    color: #a94442;
    width: 280px;
}

input[type="text"], input[type="email"] {
    width: 280px;
}

input[type="checkbox"] {
    margin-top: 8px;
    margin-left: 4px;
    -ms-transform: scale(2); /* IE */
    -moz-transform: scale(2); /* FF */
    -webkit-transform: scale(2); /* Safari and Chrome */
    -o-transform: scale(2); /* Opera */
}

input[type="checkbox"] {
    margin-top: 8px;
    margin-left: 4px;
    -ms-transform: scale(2); /* IE */
    -moz-transform: scale(2); /* FF */
    -webkit-transform: scale(2); /* Safari and Chrome */
    -o-transform: scale(2); /* Opera */
    transform: scale(2);
}

button {
    margin-top: 24px;
}

p.mailinfo {
    margin-top: 24px;
}

/* Make the masthead heading the same height as the navigation */
.messages {
    margin-bottom: -20px;
    padding-top: 0;
    background-color: #fff;
}

footer {
    text-align: center;
}

/*Helpers*/
.inline-block {
    display: inline-block;
}

.clear {
    clear: both;
}
