colors {
    _Main: #348cb2;
    _Accent: #144d66;
    _Primary: #74c6e8;
    _Secondary: #eb4313;
    _Highlight: #b28626;
    _Bam: #ffd466;
}

/* Space out content a bit */
body {
    padding-top: 68px;
    background-color: #fff;
    color: #144d66;
    white-space: normal;
    font-weight: 300;
}

a:focus {
    outline: none;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
    margin-top: 0;
}

h1, .h1,
h2, .h2,
h3, .h3 {
    margin-bottom: 20px;
}

h1, h2,
.h1, .h2,
b, strong,
label {
    font-weight: 700;
}

h3, h4, h5, h6,
.h3, .h4, .h5, .h6 {
    font-weight: 400;
}

/* Custom page header */
header nav {
    margin-bottom: 0;
    background-color: #fff;
}

header .wrapper {
    border-bottom: 1px solid #8FC840;
}

header a {
    color: #fff;
}

header a.brand:hover,
header a.brand:focus {
    color: #fff;
}

.navbar {
    margin: 0;
    padding-top: 6px;
}

.navbar-toggle {
    margin-top: 12px;
}

header + main {
    margin-top: 0;
}

main {
}

section {
    padding: 40px 0;
}

section:empty {
    display: none;
}

label {
    display: block;
    margin-top: 24px;
    margin-bottom: 0;
}

label.display-inline {
    display: inline-block;
    margin-right: 8px;
}

input[type="text"] {
    width: 280px;
}

button {
    margin-top: 24px;
}

/* Make the masthead heading the same height as the navigation */
.messages {
    margin-bottom: -20px;
    padding-top: 0;
    background-color: #fff;
}

footer {
    text-align: center;
}

/*Helpers*/
.inline-block {
    display: inline-block;
}

.clear {
    clear: both;
}
